.episodes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5em;

  h3 {
    margin: 0.2em 0 1.2em;
    font-size: 2em;
  }

  .episodes-accordion {
    width: 50%;

    .episodes-accordion__item-name {
      cursor: pointer;
    }

    .episodes-accordion__item-number {
      margin-right: 0.3em;
    }
  }

  @media screen and (max-width: 414px){
    h3 {
      font-size: 1.5em;
    }

    .episodes-accordion {
      width: 70%;
      .MuiAccordionSummary-content {
        font-size: 1em;
      }
    }
  }
}
